<section class="container">
    <h2>Produtos</h2>
    <div class="produtos margem-topo" id="produtos"> 
        <div *ngFor="let produto of produtos" class="produto">
            <a href="#">
                <img [src]=produto.imagem alt="Fones de ouvido Beats">
                <p>
                    {{ produto.titulo }}<br>
                    <strong>
                        {{ produto.preco }}<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
<!--         
        <div class="produto">
            <a href="#">
                <img src="assets/fonejbl.png" alt="Fone JBL">
                <p>
                    Fone de Ouvido<br>
                    <strong>
                        R$ 750<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/fifa22.png" alt="Fifa 22">
                <p>
                    Fifa 22<br>
                    <strong>
                        R$ 350<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/Controles.png" alt="Controle DuaSense">
                <p>
                    Apple Watch Series 7<br>
                    <strong>
                        R$ 450<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
    </div>
</section>