<!--Sobre-->
<section class="products_background">
  <div class="container_grid">
    <div class="row">
      <div class="col-12">
        <div class="sobre_text">
          <h1>A Game Mania</h1>
          <p>Somos uma loja que preza pela excelência e respeito aos nossos clientes.</p>
        </div>
      </div>
    </div>
    <div class="sobre_container">
      <div class="sobre_box">
        <h3>Missão</h3>
        <p>Temos como missão levar o nosso cliente a mais alta satisfação com nossos serviços.</p>
      </div>
      <div class="sobre_box">
        <h3>Visão</h3>
        <p>Temos como visão ampliar o público alvo atingindo todas as idades.</p>
      </div>
      <div class="sobre_box">
        <h3>Valores</h3>
        <p>Temos como a principal meta e valores o respeito com nossos clientes e gamers do Brasil. </p>
      </div>
    </div>
  </div>
</section>
