<!--Banner-->

<div id="banner" class="banner">
    <h1 id="banner_text" class="container_grid">O prazer de Jogar Videogame!</h1>
</div>

<!--Seção de Ícones-->

<section class="icons_background">
    <div class="container_grid position">
      <div class="icons"><img class="atendimento" src="../../../assets/img/sending.png" alt="Entrega em 24hrs" width="120" style="color: white"/>
     <p class="icon_text_section"> Entrega em 24 horas</p>
    <img src="../../../assets/img/Barra 1.png" alt="Imagem de divisória" height="80" style="color: white"/></div>
    <div class="icons"><img class="qualidade" src="../../../assets/img/tool.png" width="100" height="104" style="color: white"/></div>
    <p class="icon_text_section">Assistência Técnica</p></div>
    <img src="../../../assets/img/Barra 2.png" alt="Imagem de divisória" height="80" style="color: white"/>
    <div class="icons"><img class="entrega" src="../../../assets/img/send.png" alt="Frete Grátis" width="120" height="100" style="color: white;"/></div>
    <p class="icon_text_section">Ffrete Grátis para todo o Brasil</p>
    </section>

    <!--Promoções-->

    <section class="products_background">
        <div class="container">
          <h2>Promoções Imperdíveis</h2>
          <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                  <div class="media-custom">
                      <a href="#"><img src="../../../assets/img/fifa22.png" alt="Fifa 22" class="img-fluid" style="color: white"/></a>
                      <div class="media-body">
                          <p class="ofertas_text">Fifa 22 <strong>R$ 290,00</strong></p>
                          <a href="#" class="btn_buy">Comprar</a>
                      </div>
                  </div>
              </ng-templates>
              <ng-template carouselSlide>
                  <div class="media-custom">
                      <a href="#"><img src="../../../assets/img/Controles.png" alt="Controles" class="img-fluid" style="color: white"/></a>
                      <div class="media-body">
                          <p class="ofertas_text">DualSense <strong>R$ 430,00</strong></p>
                          <a href="#" class="btn_buy">Comprar</a>
                      </div>
                  </div>
              </ng-template>
            </ng-template carouselSlide>
            <div class="media-custom">
                <a href="#"><img src="../../../assets/img/fonejbl.png" alt="Fone de Ouvido" class="img-fluid" style="color: white"/></a>
                <div class="media-body">
                    <p class="ofertas_text">Fone de Ouvido <strong>R$ 449,90</strong></p>
                    <a href="#" class="btn_buy">Comprar</a>
                </div>
            </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="media-custom">
                    <a href="#"><img src="../../../assets/img/ps5.jpg" alt="Playstation 5" class="img-fluid" style="color: white"/></a>
                    <div class="media-body">
                        <p class="ofertas_text">Playstation 5 <strong>R$ 4.399,90</strong></p>
                        <a href="#" class="btn_buy">Comprar</a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="media-custom">
                    <a href="#"><img src="../../../assets/img/xbox.jpg" alt="Xbox" class="img-fluid" style="color: white"/></a>
                    <div class="media-body">
                        <p class="ofertas_text">Xbox One X <strong>R$ 3.599,00</strong></p>
                        <a href="#" class="btn_buy">Comprar</a>
                    </div>
                </div>
            </ng-template>
          </owl-carousel-o>
          </div>
          </section>

          <!--Catálogo-->

          <section class="products_background">
            <div class="container">
              <h2>Catálogo</h2>
              <owl-carousel-o [options]="customOptions2">
                  <ng-template carouselSlide>
                      <div class="media-custom-2">
                          <a href="#"><img src="../../../assets/img/notebook.jpg" alt="Notebook da Apple" class="img-fluid" style="color: white"/></a>
                          <div class="media-body-2">
                              <a href="#" class="recomend_text">Notebooks da Apple</a>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="media-custom-2">
                          <a href="#"><img src="../../../assets/img/switch.jpg" alt="Nintendo" class="img-fluid" style="color: white"/></a>
                          <div class="media-body-2">
                              <a href="#" class="recomend_text">Mundo Nintendo</a>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="media-custom-2">
                          <a href="#"><img src="../../../assets/img/ps4.jpg" alt="Mundo Playstation" class="img-fluid" style="color: white"/></a>
                          <div class="media-body-2">
                              <a href="#" class="recomend_text">Mundo Playstation</a>
                          </div>
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="media-custom-2">
                          <a href="#"><img src="../../../assets/img/xbox.jpg" alt="Mundo Xbox" class="img-fluid" style="color: white"/></a>
                          <div class="media-body-2">
                              <a href="#" class="recomend_text">Mundo Xbox</a>
                          </div>
                      </div>
                  </ng-template>
              </owl-carousel-o>
              <br/>
              <br/>
              </div>
              </section>

