<!--Newsletter-->
<section class="newsletter_background">
    <div class="container">
        <div class="row">
            <h3 class="col news_text">Assinar Feed</h3>
            <form
            #userForm="ngForm"
            (ngSubmit)="onSubmit()"
            class="col newsletter_box">
        <input
             type="email"
            id="email_newsletter"
        placeholder="Digite email"
    name="email"
[(ngModel)]="userModel.email"/>
<button type="submit" id="btn_newsletter"><img class="newsletter" src="../../../assets/img/newsletter.png"/></button></form>
        </div>
    </div>
</section>

<footer>
    <!--Links do Rodapé-->
    <div class="footer_gray_backgroud">
        <div class="container">
            <div class="row">
                <div class="col"></div>
            <nav class="footer_menu">
                <h3>Institucional</h3>
                <a routerLink="sobre">Quem Somos</a>
                <a routerLink="#">Pagamentos</a>
                <a routerLink="#">Depoimentos de Clientes</a>
                <a routerLink="#">Departamentos</a>
                <a routerLink="contato">Contato</a>
         </nav>
        </div>
        <div class="col">
            <div class="footer_atendimento">
                <h3>Atendimento</h3>
                <a href="#"><img class="local" src="../../../assets/img/localizacao.png" alt="ícone de Localização" width="48" height="48"/></a>
            
            <p class="atendimento_text">Avenida Lorem Ipsum, n. 01, Centro, Salvador-BA</p>
        </div>
        </div>
        <div class="col">
            <nav class="footer_icons">
                <a href="#"><img class="facebook" src="../../../assets/img/Fblogo.png" alt="ícone do facebook" width="64" height="64"/></a>
                <a href="#"><img class="instagram" src="../../../assets/img/Instalogo.png" alt="ícone do instagram" width="64" height="64"/></a>
                <a href="#"><img class="twitter" src="../../../assets/img/Twitterlogo.png" alt="ícone do twitter" width="64" height="64"/></a>
               </nav>
           </div>
        </div>
    </div>
</div>

<!--Copyright-->
<div class="footer_black_background">
    <div class="container">
        <p class="footer_text">
            Game Mania Informática. CNPJ: 00.000.000/0001 | Salvador - BA
        </p>
        <br/>
    </div>
</div>
</footer>